<footer style="background-color: #4B4376; padding: 5px; text-align: center; color: white; position: fixed; bottom: 0; width: 100%;">
    <p>© 2024 Alvien Ridho Nanda Pryastika | NIM: 20220140078</p>
  </footer>  