<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StyleCSS-078</title>
</head>
<body>
    <% if (typeof shownav !== 'undefined' && shownav) { %>
        <%- include('navbar') %>
    <% } %>
    <%- body %>
    <% if (typeof showfooter !== 'undefined' && showfooter) { %>
        <%- include('footer') %>
    <% } %>
</body>
</html>